@model DwellingRepository.Database.DwellingRel
@using DwellingSystemUi.Resources

<div id="@ViewData.TemplateInfo.HtmlFieldPrefix" ng-controller="addressController">
    <div class="row">

        <div class="col-xs-12">
            <br />
            <p class="col-xs-1 element-right" />
            <p class="col-xs-8 element-left">@ResAddress.TITLE_SELECT_BY_ZIPCODE</p>
            <p class="col-xs-4 element-left" />
            <br />
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 element-left">

                    <label class=" col-xs-3 control-label element-left">
                        *@ResAddressRep.FIELD_ZIPCODE:
                    </label>
                    <div class="col-xs-3 element-left">
                        @Html.TextBoxFor(m => m.CatLocation.ZipCode, new { @class = "form-control", ng_model = "ZipCode", zip_search = "", list = "_locations", ng_init = "ZipCode = '" + Model.CatLocation.ZipCode + "'" })
                    </div>

                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 control-label element-center">
                    <p class="col-xs-3" />
                    <div class="col-xs-5">
                        @Html.ValidationMessageFor(m => m.CatLocation.ZipCode)
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-xs-offset-1 element-center">
                    <label class=" col-xs-2 control-label element-left">
                        *Localidad:
                    </label>
                    <select id="_select" class="form-control col-xs-4" name="_select" ng-model="selectedLocation"
                            ng-options="loc as loc.LocationName group by loc.ZipCode for loc in LocZipCodeLst" ng-change="changeLocation()" style="width:320px"></select>
                </div>
                <div class="col-xs-12">
                    @Html.HiddenFor(m => m.LocationId, new { ng_model = "LocationId", ng_update_hidden = "", ng_init = "LocationId = '" + (Model.LocationId > 0 ? Model.LocationId.ToString("D") : "0") + "'" })
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-12 col-xs-offset-1">
            
            <label class="col-xs-2 control-label element-left">@ResAddressRep.FIELD_STATE:</label>

            <label class="col-xs-3 form-control-static element-left" ng-init="StateName = '@Model.StateName'">
                {{StateName}}
            </label>

            <label class="col-xs-2 control-label element-left">@ResAddressRep.FIELD_MUNICIPALITY:</label>

            <label class="col-xs-3 form-control-static element-left" ng-init="MunicipalityName = '@Model.MunicipalityName'">
                {{MunicipalityName}}
            </label>
        </div>
    </div>


        <div class="row col-xs-12 col-xs-offset-1">

            <label class="col-xs-2 control-label element-left">@ResAddressRep.FIELD_LOCATION:</label>

            <label class="col-xs-8 form-control-static element-left" ng-init="LocationName = '@Model.LocationName'">
                {{LocationName}}
            </label>
            
    </div>
</div>