@using DwellingSystemUi.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/jqGrid")
}

@section scripts{
    @Scripts.Render("~/bundles/jqGrid")

    <script src="~/Scripts/App/Shared/upsertCtrl.js"></script>
    <script src="~/Scripts/App/Shared/modalDlgCtrl.js"></script>
    <script src="~/Scripts/App/address/addressCtrl.js"></script>
    <script src="~/Scripts/App/Shared/hiddenDrct.js"></script>
    <script src="~/Scripts/App/address/zipSearchDrct.js"></script>
    <script src="~/Scripts/App/Managment/DwellingCtrl.js"></script>

    <script>

        var lastsel;
        var upsert = function(id) {
            window.showUpsert(id, "#angJsjqGridId", "@Url.Action("Upsert", "Main", new {area = "Managment"})", "#GridDwelling");
        };
        
        var obsolete = function (id) {
            window.showObsolete(id, "#angJsjqGridId", "@Url.Action("DoObsolete", "Main", new {area = "Managment"})", "#GridDwelling");
        };
        
        var upsertResident= function(id) {
            window.showUpsert(id, "#angJsjqGridId", "@Url.Action("Upsert", "Resident", new {area = "Managment"})", "#GridDwelling");
        };
        

        $(document).ready(function() {

            jQuery("#GridDwelling").jqGrid({
                url: '@Url.Action("List", "Main", new {area = "Managment"})',
                datatype: "json",
                mtype: 'POST',
                colNames: ['ID', 'Dirección', 'Tipo', 'Acciones'],
                colModel: [
                    { name: 'DwellingId', index: 'DwellingId', hidden: true },
                    { name: 'Address', editable: true, index: 'Address', align: "center", width: 280, sorttype: 'string', searchoptions: { sopt: ['bw'] } },
                    { name: 'DwellingType', index: 'DwellingType', align: "center", width: 400, sorttype: 'string', search: false },
                    { name: 'Action', width: 100, align: "center", sortable: false, search: false }
                ],
                rowNum: 15,
                rowList: [15, 30, 60],
                pager: '#GridDwellingPager',
                sortname: 'Address',
                width: 800,
                height: 380,
                viewrecords: true,
                shrinkToFit: false,
                sortorder: "desc",
                caption: "@ResShared.TITLE_MENU_DWELLING",
                gridComplete: function() {
                    var ids = $(this).jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        be = "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Editar vivienda\" onclick=\"upsert('" + cl + "');\"><span class=\"ui-icon ui-icon-pencil\"></span></a>";
                        bo = "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Eliminar vivienda\" onclick=\"obsolete('" + cl + "');\"><span class=\"ui-icon ui-icon-trash\"></span></a>";
                        br = "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Agregar residente\" onclick=\"upsertResident();\"><span class=\"ui-icon ui-icon-person\"></span></a>";
                        $(this).jqGrid('setRowData', ids[i], { Action: be + bo+ br });
                    }
                },
                ondblClickRow: function(rowid) {
                    //upsert.call(this, rowid);
                }
            });


            jQuery("#GridDwelling").jqGrid('navGrid', '#GridDwellingPager', { edit: false, add: true, del: false, search: true, addfunc: upsert });

            jQuery("#GridDwelling").jqGrid('filterToolbar', {
                stringResult: true,
                searchOperators: true,
                searchOnEnter: true,
                multipleSearch: true,
                ignoreCase: true
            });

        });

    </script>
}

<h2 class="element-center">@ResShared.TITLE_MENU_DWELLING</h2>

<div id="angJsjqGridId" ng-controller="modalDlgController">

    <table id="GridDwelling" class="element-center"></table>
    <div id="GridDwellingPager"></div>
    <div class="blocker" ng-show="working"><div>Cargando...<img src="../../../../Content/Images/icons/ajax_loader.gif"></div></div>

</div>