<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de condominios</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/App/Shared/mainApp.js"></script>
    @RenderSection("scripts", required: false)


</head>
<body>
    @Html.Partial("_MainMenu")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Powered by IDRASoft</p>
        </footer>
    </div>

</body>
</html>
